$background-color: #c8def2;

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: $background-color;
}

.project {
  display: flex;
  max-width: 1024px;
  max-height: 512px;
  width: 100%;
  height: 100%;
  background: #fff;
  box-shadow: 0 0 25px rgba(26, 34, 46, 0.2);

  @media screen and (max-width: 360px) {
    flex-direction: column;
  }

  .content {
    width: 100%;
    padding: 1em;
  }
}
